html, body {
  background: #191716;
  font-family: Montserrat;
  font-weight: 400;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 1.1em;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  letter-spacing: 3px;
  font-weight: 600;
}

h3 {
  font-size: 1.0em;
  letter-spacing: 2px;
  font-weight: 300;
}

h3:hover {
  cursor: pointer;
  color: #E3563D;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

form {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 100px auto;
}

label {
  display: block;
  margin-bottom: 0.3em;
}

label > input {
  display: none;
}

label > i {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
  vertical-align: middle;
  border: 2px solid #fff;
  -webkit-box-shadow: inset 0 0 0 2px #E3563D;
          box-shadow: inset 0 0 0 2px #E3563D;
  -webkit-transition: .25s;
  transition: .25s;
}

label > span {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: .9em;
}

label > input:checked + i {
  background: #E5E5E5;
}

label:hover {
  cursor: pointer;
  color: #E3563D;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

#game {
  width: 100vw;
  height: 100vh;
  background: #191716;
  text-align: center;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 50% 25%;
      grid-template-columns: 25% 50% 25%;
  -ms-grid-rows: 10% 60% 30%;
      grid-template-rows: 10% 60% 30%;
}

#game-title {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: xx-large;
  color: #E3563D;
}

#game-window {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  width: 100%;
  position: relative;
  background: #363230;
}

#player1-block {
  background-color: #E3563D;
  width: 1vw;
  height: 20vh;
  position: absolute;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  z-index: 6;
}

#player2-block {
  background-color: #E3563D;
  width: 1vw;
  height: 20vh;
  position: absolute;
  right: 0;
  z-index: 6;
}

#canvas-wrapper {
  height: 100%;
  width: 100%;
}

#game-ball {
  -ms-grid-column: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  position: absolute;
  top: 0;
  left: 0;
  background: #363230;
}

#scoreboard {
  font-family: 'Press Start 2P', cursive;
  font-size: xx-large;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
}

#player1-score, #player2-score {
  width: 5vw;
  margin-top: 1vh;
}

#game-menu {
  font-family: 'Press Start 2P', cursive;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  z-index: 7;
  background-color: rgba(217, 213, 212, 0.5);
  color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: large;
  line-height: 200%;
  font-variant: small-caps;
  position: relative;
}

#gameMode-list {
  list-style-type: none;
  padding: 0;
}

#middle-line {
  border-right: 4px dashed #191716;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 3;
  color: #E3563D;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 4;
}
